h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.main-section {
    height:1500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 50px;
    margin-bottom: 100px;
    gap: 100px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(30,30,30);
}

.contact-us {
    height: 30%;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#short-info {
    border: 2px solid rgb(40,40,40);
    padding: 20px;
    font-size: 18px;
}

#short {
    margin-bottom: 20px;
    color: rgb(200,200,200);
}

#list {
    list-style: none;
}

#list li {
    margin: 10px 0;
}

.f a {
    color: rgb(230, 230, 230);
}

.map {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
}

#map {
    width: 100%;
    height: 700px;
    border: none;
    border-radius: 10px;
}

footer {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px 20px 0px;
}

.social-links, .quick-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.social-links a {
    color: white;
    margin: 0 15px;
    font-size: 20px;
    text-decoration: none;
}

.social-links a:hover {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.quick-links a {
    color: white;
    margin: 0 15px;
    font-size: 14px;
    text-decoration: none;
}

.quick-links a:hover {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.copyright{
    height:75px;
    text-align: center;
    padding-top:20px;
}
@media (max-width: 1100px) {
    .menus a{
        font-size: 16px;
    }
    .header-logo{
        font-size:30px;
    }
    h2 {
        font-size: 20px;
    }
    .contact-us {
        width: 90%;
    }
    #short-info {
        font-size: 16px;
    }
    .map {
        width: 93%;
    }
 }
 @media (max-width: 800px) {
    .header-menus{
        gap: 15px;
        padding-right: 15px;
    }
    .header-logo{
        font-size:25px;
    }
    h2 {
        font-size: 20px;
    }
    .contact-us {
        width: 93%;
    }
    #short-info {
        font-size: 16px;
    }
    .map {
        width: 95%;
        height: 60%;
    }
    .main-section {
        padding: 80px 30px;
        margin-bottom: 70px;
        gap: 70px;
    }
    footer {
        gap: 20px;
        padding: 10px 0px 10px 0px;
    }
 }
 @media (max-width: 560px) {
    .header{
        flex-direction: column;
        padding-top: 20px;
        gap:10px;
    }
    .header-logo{
        margin: 0px;
        justify-content: center;
        align-items: center;
    }
    .header-menus{
        border-top: 1px solid white;
        width: 100%;
        align-items: center;
    }
    h2 {
        font-size: 18px;
    }
    .contact-us {
        width: 98%;
    }
    #short-info {
        font-size: 14px;
    }
    .map {
        width: 100%;
        height: 50%;
    }
    .main-section {
        padding: 30px 25px 10px 25px;
        margin-bottom: 0px;
        gap: 40px;
        height:1000px;
    }
    footer {
        gap: 15px;
        padding: 10px 0px 10px 0px;
    }
    .social-links a {
        font-size: 16px;
    }
    .quick-links a {
        font-size: 12px;
    }
 }